header {
  grid-column: span 12;
  border: 1px solid red;
}

nav {
    grid-column: span 2;
border: 1px solid red;
}

main {
    grid-column: span 10;
border: 1px solid red;
}

footer {
  grid-column: span 12;
  border: 1px solid red;
}


body { background-color: #999999; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
  width: 100px;
}



#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr 1fr;
}


.floatimage {
  width: 100px;
  float: left;
  margin: 0 20px 20px 0;
}

.p2 {
  clear: both;
}

.p1, .p2 {
border: 1px solid red;
}
