body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #6F9283;
  font-family: 'Marvel', sans-serif;
  text-align: center;
}


.dropshadowbox {
  padding: 0px;
  margin-left: 450px;
  width: 300px;
  border: 0px solid #999;
  background-color: #6F9283;
  box-shadow: 10px 10px 10px #1c1c1b; /* x, y, blur, color */

}

.textshadowbox {
  margin: 20px;
  font-size: 46px;
  color: #white;
  text-shadow: 2px 2px 2px #4F675D;
}

header {
  font-family: 'Reenie Beanie', cursive;
  grid-column: span 12;
  color: white;
  font-size: 55px;
  text-align: center;
}

#mainimage {
  grid-column: span 12;
  border-radius: 124px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

nav {
  grid-column: span 12;
text-align: center;
}

li{
    list-style-type: none;
    display: inline-grid;
    text-align: center;
  width: 120px;
  background-color: #FB73AB;
  border-radius: 100px;
}


  li a {
    background-color: #FB73AB;
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    width: 80px;
    transition: background-color .5s;
  }

  li a:hover {
      background-color: #ECA41B;
      text-decoration: none;
      width: 80px;
      border-radius: 100px;
      margin: 10px;
    }


footer {
  font-family: 'Marvel', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-column: span 12;
  display: inline-grid;
  padding-left: 475px;
}
